.nav-item {
  display: flex;
  align-items: center;
}

.dropdown-toggle::after {
  vertical-align: middle;
}

.my-file {
  display: inline-block;
  position: relative;
}

.my-file input {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
}
